body {
    background-color: #f6eeea;
    font-family: 'Poppins', sans-serif;
    font-size: 4vh;
    text-align: center;
    color: #813816;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.wrapper {
    flex-grow: 1;
}

h1 {
    color: #cb006d;
    font-size: 8vh;
    margin: 2.5vh auto;
}
h2 {
    margin-bottom: 2vh;
}
ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #cb00c1;
}

a:hover {
    background-color: #cb00c1;
    color: white;
}

span {
    color: #cb00c1;
}

footer {
    font-size: 2vh;
}

.bio {
    margin: 6vh;
    line-height: 6vh;
}

.title {
    color: #db8b1e;
}

.contact {
    margin: 3vh;
}

.horizontal-layout ul {
    display: flex;
    justify-content: space-around;
}

.horizontal-layout ul li {
    display: inline-block;
}

.expand::before {
    content: '▶ ';
    font-size: 80%;
    color: #db8b1e;
}

.expand.open::before {
    content: '▼ ';
}

.expand+ul {
    display: none;
}

.expand.open+ul {
    display: block;
}
